.homePage-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10%;
}
h2{
    margin-bottom: 10%;
}
/* 
.fill-window {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
} */
